.section-three{
  width: 98%;
  height: 4.4%;
  margin: auto;
  display: flex;
  flex-direction: row ;
}

.section-three-container-one{
width: 55%;
height: 100%;
}

.section-three-container-two{
width: 45%;
height: 70%;
}

.section-three-container-two video{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.section-three-container-one span{
    font-family: 'Protest Strike', sans-serif;
    font-size: 35px;
    color: rgb(254, 221, 0);
    
}

.section-three-container-one h1{
      font-family: 'Protest Strike', sans-serif;
      font-size: 55px;
      width: 80%;
      margin-top: 10px;
      margin-bottom: 0px;
}

.section-three-container-one p{
  font-size: 23px;
  width: 80%;
}

.section-three-container-one button{
  color: white;
  font-weight: bold;
  background-color: rgb(140, 30, 255);
  border: none;
  height: 7%;
  width: 20%;
  font-size: 16px;
  cursor: pointer;
  margin-top: 2rem;
}

.section-three-container-one button:hover{
  opacity: 0.7;
}

@media screen and (max-width:1280px) {
  .section-three-container-one h1{
    font-size:45px ;
  }
}

@media screen and (max-width:1024px) {

  .section-three-container-one h1{
    width: 500px;
  }

  .section-three-container-one button{
    width: 130px;
  }
  .section-three-container-one p{
    font-size: 20px;
  }
}

@media screen and (max-width:768px) {

  .section-three-container-one h1{
    font-size: 40px;
    width: 400px;
  }

}

@media screen and (max-width:640px) {

  .section-three-container-one h1{
    font-size: 30px;
  }

  .section-three-container-one p{
    font-size: 16px;
  }

  .section-three-container-one button{
    font-size: 14px;
  }

  .section-three-container-one span{
    font-size: 30px;
  }

}

@media screen and (max-width:476px) {

  .section-three-container-one p{
    font-size: 14px;
  }


}

@media screen and (max-width:376px) {

  .section-three-container-one span{
    font-size: 25px;
  }

  .section-three-container-one h1{
    font-size: 25px;
    width: 250px;
  }

  .section-three-container-one p{
    width: 200px;
  }

}

.section-three-icons{
  width: 95%;
  margin: auto;
  height: 1.5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.section-three-icons-container{
  width: 24%;
}

.section-three-icons-container img{
  width: 76px;
  height: 76px;
  object-fit: cover;
  margin-bottom: 0px;
}

.section-three-icons-container h3{
  margin-top: 0.3rem;
  border-bottom: 1px solid black;
  padding-bottom: 0.5rem;
  margin-bottom: 0px;
}

.section-three-icons-container p{
  margin-top: 10px;
}

@media screen and (max-width:1281px) {
  .section-three-icons-container{
    height: 180px;
  }
}

@media screen and (max-width:768px) {
  .section-three-icons-container img{
    height: 50px;
    width: 50px;
  }
  .section-three-icons-container h3{
    font-size: 16px;
  }
  .section-three-icons-container p{
    font-size: 14px;
  }
}

@media screen and (max-width:640px) {

  .section-three-icons-container p{
    font-size: 13px;
    height: 60px;
    overflow: hidden;
  }

}

@media screen and (max-width:476px) {

  .section-three-icons-container img {
     width: 40px;
     height: 40px;
    }
  
    .section-three-icons-container h3 {
      font-size: 13px;
    }
  
    .section-three-icons-container p {
      height: 60px;
    }
}

@media screen and (max-width:376px) {

  .section-three-icons-container img {
    width: 32px;
    height: 32px;
  }

  .section-three-icons-container h3 {
    font-size: 11px;
  }

  .section-three-icons-container p {
    height: 47px;
  }



}